.starburst {
    background: #9333ea;
    width: 100px;
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    clip-path: polygon(100% 50%, 92.69% 55.18%, 98.55% 61.97%, 90.21% 65.25%, 94.27% 73.24%, 85.39% 74.43%, 87.43% 83.16%, 78.51% 82.19%, 78.4% 91.15%, 69.98% 88.07%, 67.73% 96.75%, 60.29% 91.75%, 56.03% 99.64%, 50% 93%, 43.97% 99.64%, 39.71% 91.75%, 32.27% 96.75%, 30.02% 88.07%, 21.6% 91.15%, 21.49% 82.19%, 12.57% 83.16%, 14.61% 74.43%, 5.73% 73.24%, 9.79% 65.25%, 1.45% 61.97%, 7.31% 55.18%, 0% 50%, 7.31% 44.82%, 1.45% 38.03%, 9.79% 34.75%, 5.73% 26.76%, 14.61% 25.57%, 12.57% 16.84%, 21.49% 17.81%, 21.6% 8.85%, 30.02% 11.93%, 32.27% 3.25%, 39.71% 8.25%, 43.97% 0.36%, 50% 7%, 56.03% 0.36%, 60.29% 8.25%, 67.73% 3.25%, 69.98% 11.93%, 78.4% 8.85%, 78.51% 17.81%, 87.43% 16.84%, 85.39% 25.57%, 94.27% 26.76%, 90.21% 34.75%, 98.55% 38.03%, 92.69% 44.82%);

}